# compiled output
backend/dist
backend/node_modules

pgdata

# IDEs and editors
.idea/
backend/.idea/
backend/.project
backend/.classpath
backend/.c9/
backend/*.launch
backend/.settings/
backend/*.sublime-workspace

# IDE - VSCode
backend/.vscode/*
!backend/.vscode/settings.json
!backend/.vscode/tasks.json
!backend/.vscode/launch.json
!backend/.vscode/extensions.json
